<!DOCTYPE html>
<html>
  <head>
    <title>Product Fish — The best new fish for bears.</title>
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/kirbyneaton/product_hunt_clone/product-index/app/assets/images/product-hunt-logo-png-transparent.png" type="image/png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
